*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(45deg, orange, blue);
    height:100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.Calculadora{
    position: absolute;
    background-color: black;
    opacity: 0.9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(67, 67, 67);
    color: white;
}

.botao:hover{
  background-color: black;
}

.botao_igual{
    width: 50px;
    height: 101px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(67, 67, 67);
    color: white;
}

.botao_igual:hover{
  background-color: black;
}

.botao_zero{
    width: 101px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(67, 67, 67);
    color: white;
}

.botao_zero:hover{
  background-color: black;
}

#resultado{
    width: 200px;
    height: 30px;
    background-color: azure;
    margin: 5px;
    padding-left: 16px;
    font-size: 25px;
    color: black;
    text-align: right
}